@import url('https://fonts.googleapis.com/css2?family=Sora');

/** Nav */

*{
    font-family: 'Sora', sans-serif; 


}
 body {
            margin: 0;
            padding: 0;
            font-family: 'Sora', sans-serif; 
        }

        



        



